@page "/"
@inject IJSRuntime JSRuntime
@using OpenCvSharp

<h3 class="d-flex justify-content-center mb-5">Welcome to SmartImage</h3>

<div class="container   ">
    <div class="d-flex">

        <button class="btn btn-primary p-5 w-100" @onclick="UploadImage">Test</button>
    </div>
    <div class="row">
        <h2 class="mt-4">Image Links</h2>
        <p>https://thumbs.dreamstime.com/z/blank-spiral-note-pad-lined-paper-rugged-black-background-108841894.jpg</p>
    </div>


    @if (!string.IsNullOrEmpty(uploadedImageUrl))
    {
        <div class="row mt-5 mb-3 ">
            <h3>Uploaded Image:</h3>
            <div class="my-3 pb-3 mx-4 text-center card shadowlg">
                <img src="@uploadedImageUrl" alt="Uploaded Image" class="img-fluid pt-3" />
            </div>
        </div>

    }
</div>



@code {
    private string imageUrl = "";
    private string uploadedImageUrl = "";

    private async Task UploadImage()
    {
        uploadedImageUrl = imageUrl;

        await EdgeDetector(imageUrl);

        imageUrl = "";

    }


    private async Task EdgeDetector(string imageUrl)
    {
        // Construct the relative path to the image in the wwwroot folder
        string imagePath = $"wwwroot/paper2.jpg";

        using var src = new Mat(imagePath, ImreadModes.Grayscale);
        using var dst = new Mat();

        Cv2.Canny(src, dst, 100, 200);

        Cv2.Resize(src, src, new Size(800, 800));
        Cv2.Resize(dst, dst, new Size(800, 800));

        using (new Window("src image", src))
        using (new Window("dst image", dst))
        {
            Cv2.WaitKey();
        }
    }
}